<a href="https://colab.research.google.com/github/saikiranvicky/Pandas/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
import pandas as pd

# Loading Data using Pandas

In [0]:
data = pd.read_csv('/content/drive/My Drive/pandas/pokemon_data.csv')

In [12]:
print(data.head(5))

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

# Reading data using pandas

# reading headers

In [10]:
print(data.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#reading columns

In [11]:
print(data['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

#reading mutliple columns

In [12]:
print(data[['Name', 'HP']])

                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

#Reading Each Row

In [13]:
print(data.iloc[1])

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

#You can also use iterrows to loop through each row

In [15]:
print(data.iloc[1:5])

for index,row in data.iterrows():
  print(index,row['Name'])

   #                   Name Type 1  ... Speed  Generation  Legendary
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[4 rows x 12 columns]
0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise
12 BlastoiseMega Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 BeedrillMega Beedrill
20 Pidgey
21 Pidgeotto
22 Pidgeot
23 PidgeotMega Pidgeot
24 Rattata
25 Raticate
26 Spearow
27 Fearow
28 Ekans
29 Arbok
30 Pikachu
31 Raichu
32 Sandshrew
33 Sandslash
34 Nidoran (Female)
35 Nidorina
36 Nidoqueen
37 Nidoran (Male)
38 Nidorino
39 Nidoking
40 Clefairy
41 Clefable
42 Vulpix
43 Ninetales
44 Jigglypuff
45 Wigglytuff
46 Zubat
47 Golbat
48 Oddish
49 Gloom
50 Vileplume
51 Paras
52 Parasect
53 Venonat
54 Venomoth
55 Diglett
56 Dugtrio
57 Meowth
58 Persian
59 Psyduck
60 Golduck
61 Mankey
62 Primeape
63 Growlithe
64 Arcanine
65 Poliwag
66 Poliwhirl
67 Poliwrath
68 Abra
69 Kadabra
70 Alakazam
71 AlakazamMega Alakazam
72 Machop
73 Machoke
74 Machamp
75 Bellsprout
76 Weepinbell
77 Victreebel
78 Tentacool
79 Tentacruel
80 Geodude
81 Graveler
82 Golem
83 Ponyta
84 Rapidash
85 Slowpoke
86 Slowbro
87 SlowbroMega Slowbro
88 Magnemite
89 Magneton
90 Farfetch'd
91 Doduo
92 Dodrio
93 Seel
94 Dewgong
95 Grimer
96 Muk
97 Shellder
98 Cloyster
99 Gastly
100 Haunter
101 Gengar
102 GengarMega Gengar
103 Onix
104 Drowzee
105 Hypno
106 Krabby
107 Kingler
108 Voltorb
109 Electrode
110 Exeggcute
111 Exeggutor
112 Cubone
113 Marowak
114 Hitmonlee
115 Hitmonchan
116 Lickitung
117 Koffing
118 Weezing
119 Rhyhorn
120 Rhydon
121 Chansey
122 Tangela
123 Kangaskhan
124 KangaskhanMega Kangaskhan
125 Horsea
126 Seadra
127 Goldeen
128 Seaking
129 Staryu
130 Starmie
131 Mr. Mime
132 Scyther
133 Jynx
134 Electabuzz
135 Magmar
136 Pinsir
137 PinsirMega Pinsir
138 Tauros
139 Magikarp
140 Gyarados
141 GyaradosMega Gyarados
142 Lapras
143 Ditto
144 Eevee
145 Vaporeon
146 Jolteon
147 Flareon
148 Porygon
149 Omanyte
150 Omastar
151 Kabuto
152 Kabutops
153 Aerodactyl
154 AerodactylMega Aerodactyl
155 Snorlax
156 Articuno
157 Zapdos
158 Moltres
159 Dratini
160 Dragonair
161 Dragonite
162 Mewtwo
163 MewtwoMega Mewtwo X
164 MewtwoMega Mewtwo Y
165 Mew
166 Chikorita
167 Bayleef
168 Meganium
169 Cyndaquil
170 Quilava
171 Typhlosion
172 Totodile
173 Croconaw
174 Feraligatr
175 Sentret
176 Furret
177 Hoothoot
178 Noctowl
179 Ledyba
180 Ledian
181 Spinarak
182 Ariados
183 Crobat
184 Chinchou
185 Lanturn
186 Pichu
187 Cleffa
188 Igglybuff
189 Togepi
190 Togetic
191 Natu
192 Xatu
193 Mareep
194 Flaaffy
195 Ampharos
196 AmpharosMega Ampharos
197 Bellossom
198 Marill
199 Azumarill
200 Sudowoodo
201 Politoed
202 Hoppip
203 Skiploom
204 Jumpluff
205 Aipom
206 Sunkern
207 Sunflora
208 Yanma
209 Wooper
210 Quagsire
211 Espeon
212 Umbreon
213 Murkrow
214 Slowking
215 Misdreavus
216 Unown
217 Wobbuffet
218 Girafarig
219 Pineco
220 Forretress
221 Dunsparce
222 Gligar
223 Steelix
224 SteelixMega Steelix
225 Snubbull
226 Granbull
227 Qwilfish
228 Scizor
229 ScizorMega Scizor
230 Shuckle
231 Heracross
232 HeracrossMega Heracross
233 Sneasel
234 Teddiursa
235 Ursaring
236 Slugma
237 Magcargo
238 Swinub
239 Piloswine
240 Corsola
241 Remoraid
242 Octillery
243 Delibird
244 Mantine
245 Skarmory
246 Houndour
247 Houndoom
248 HoundoomMega Houndoom
249 Kingdra
250 Phanpy
251 Donphan
252 Porygon2
253 Stantler
254 Smeargle
255 Tyrogue
256 Hitmontop
257 Smoochum
258 Elekid
259 Magby
260 Miltank
261 Blissey
262 Raikou
263 Entei
264 Suicune
265 Larvitar
266 Pupitar
267 Tyranitar
268 TyranitarMega Tyranitar
269 Lugia
270 Ho-oh
271 Celebi
272 Treecko
273 Grovyle
274 Sceptile
275 SceptileMega Sceptile
276 Torchic
277 Combusken
278 Blaziken
279 BlazikenMega Blaziken
280 Mudkip
281 Marshtomp
282 Swampert
283 SwampertMega Swampert
284 Poochyena
285 Mightyena
286 Zigzagoon
287 Linoone
288 Wurmple
289 Silcoon
290 Beautifly
291 Cascoon
292 Dustox
293 Lotad
294 Lombre
295 Ludicolo
296 Seedot
297 Nuzleaf
298 Shiftry
299 Taillow
300 Swellow
301 Wingull
302 Pelipper
303 Ralts
304 Kirlia
305 Gardevoir
306 GardevoirMega Gardevoir
307 Surskit
308 Masquerain
309 Shroomish
310 Breloom
311 Slakoth
312 Vigoroth
313 Slaking
314 Nincada
315 Ninjask
316 Shedinja
317 Whismur
318 Loudred
319 Exploud
320 Makuhita
321 Hariyama
322 Azurill
323 Nosepass
324 Skitty
325 Delcatty
326 Sableye
327 SableyeMega Sableye
328 Mawile
329 MawileMega Mawile
330 Aron
331 Lairon
332 Aggron
333 AggronMega Aggron
334 Meditite
335 Medicham
336 MedichamMega Medicham
337 Electrike
338 Manectric
339 ManectricMega Manectric
340 Plusle
341 Minun
342 Volbeat
343 Illumise
344 Roselia
345 Gulpin
346 Swalot
347 Carvanha
348 Sharpedo
349 SharpedoMega Sharpedo
350 Wailmer
351 Wailord
352 Numel
353 Camerupt
354 CameruptMega Camerupt
355 Torkoal
356 Spoink
357 Grumpig
358 Spinda
359 Trapinch
360 Vibrava
361 Flygon
362 Cacnea
363 Cacturne
364 Swablu
365 Altaria
366 AltariaMega Altaria
367 Zangoose
368 Seviper
369 Lunatone
370 Solrock
371 Barboach
372 Whiscash
373 Corphish
374 Crawdaunt
375 Baltoy
376 Claydol
377 Lileep
378 Cradily
379 Anorith
380 Armaldo
381 Feebas
382 Milotic
383 Castform
384 Kecleon
385 Shuppet
386 Banette
387 BanetteMega Banette
388 Duskull
389 Dusclops
390 Tropius
391 Chimecho
392 Absol
393 AbsolMega Absol
394 Wynaut
395 Snorunt
396 Glalie
397 GlalieMega Glalie
398 Spheal
399 Sealeo
400 Walrein
401 Clamperl
402 Huntail
403 Gorebyss
404 Relicanth
405 Luvdisc
406 Bagon
407 Shelgon
408 Salamence
409 SalamenceMega Salamence
410 Beldum
411 Metang
412 Metagross
413 MetagrossMega Metagross
414 Regirock
415 Regice
416 Registeel
417 Latias
418 LatiasMega Latias
419 Latios
420 LatiosMega Latios
421 Kyogre
422 KyogrePrimal Kyogre
423 Groudon
424 GroudonPrimal Groudon
425 Rayquaza
426 RayquazaMega Rayquaza
427 Jirachi
428 DeoxysNormal Forme
429 DeoxysAttack Forme
430 DeoxysDefense Forme
431 DeoxysSpeed Forme
432 Turtwig
433 Grotle
434 Torterra
435 Chimchar
436 Monferno
437 Infernape
438 Piplup
439 Prinplup
440 Empoleon
441 Starly
442 Staravia
443 Staraptor
444 Bidoof
445 Bibarel
446 Kricketot
447 Kricketune
448 Shinx
449 Luxio
450 Luxray
451 Budew
452 Roserade
453 Cranidos
454 Rampardos
455 Shieldon
456 Bastiodon
457 Burmy
458 WormadamPlant Cloak
459 WormadamSandy Cloak
460 WormadamTrash Cloak
461 Mothim
462 Combee
463 Vespiquen
464 Pachirisu
465 Buizel
466 Floatzel
467 Cherubi
468 Cherrim
469 Shellos
470 Gastrodon
471 Ambipom
472 Drifloon
473 Drifblim
474 Buneary
475 Lopunny
476 LopunnyMega Lopunny
477 Mismagius
478 Honchkrow
479 Glameow
480 Purugly
481 Chingling
482 Stunky
483 Skuntank
484 Bronzor
485 Bronzong
486 Bonsly
487 Mime Jr.
488 Happiny
489 Chatot
490 Spiritomb
491 Gible
492 Gabite
493 Garchomp
494 GarchompMega Garchomp
495 Munchlax
496 Riolu
497 Lucario
498 LucarioMega Lucario
499 Hippopotas
500 Hippowdon
501 Skorupi
502 Drapion
503 Croagunk
504 Toxicroak
505 Carnivine
506 Finneon
507 Lumineon
508 Mantyke
509 Snover
510 Abomasnow
511 AbomasnowMega Abomasnow
512 Weavile
513 Magnezone
514 Lickilicky
515 Rhyperior
516 Tangrowth
517 Electivire
518 Magmortar
519 Togekiss
520 Yanmega
521 Leafeon
522 Glaceon
523 Gliscor
524 Mamoswine
525 Porygon-Z
526 Gallade
527 GalladeMega Gallade
528 Probopass
529 Dusknoir
530 Froslass
531 Rotom
532 RotomHeat Rotom
533 RotomWash Rotom
534 RotomFrost Rotom
535 RotomFan Rotom
536 RotomMow Rotom
537 Uxie
538 Mesprit
539 Azelf
540 Dialga
541 Palkia
542 Heatran
543 Regigigas
544 GiratinaAltered Forme
545 GiratinaOrigin Forme
546 Cresselia
547 Phione
548 Manaphy
549 Darkrai
550 ShayminLand Forme
551 ShayminSky Forme
552 Arceus
553 Victini
554 Snivy
555 Servine
556 Serperior
557 Tepig
558 Pignite
559 Emboar
560 Oshawott
561 Dewott
562 Samurott
563 Patrat
564 Watchog
565 Lillipup
566 Herdier
567 Stoutland
568 Purrloin
569 Liepard
570 Pansage
571 Simisage
572 Pansear
573 Simisear
574 Panpour
575 Simipour
576 Munna
577 Musharna
578 Pidove
579 Tranquill
580 Unfezant
581 Blitzle
582 Zebstrika
583 Roggenrola
584 Boldore
585 Gigalith
586 Woobat
587 Swoobat
588 Drilbur
589 Excadrill
590 Audino
591 AudinoMega Audino
592 Timburr
593 Gurdurr
594 Conkeldurr
595 Tympole
596 Palpitoad
597 Seismitoad
598 Throh
599 Sawk
600 Sewaddle
601 Swadloon
602 Leavanny
603 Venipede
604 Whirlipede
605 Scolipede
606 Cottonee
607 Whimsicott
608 Petilil
609 Lilligant
610 Basculin
611 Sandile
612 Krokorok
613 Krookodile
614 Darumaka
615 DarmanitanStandard Mode
616 DarmanitanZen Mode
617 Maractus
618 Dwebble
619 Crustle
620 Scraggy
621 Scrafty
622 Sigilyph
623 Yamask
624 Cofagrigus
625 Tirtouga
626 Carracosta
627 Archen
628 Archeops
629 Trubbish
630 Garbodor
631 Zorua
632 Zoroark
633 Minccino
634 Cinccino
635 Gothita
636 Gothorita
637 Gothitelle
638 Solosis
639 Duosion
640 Reuniclus
641 Ducklett
642 Swanna
643 Vanillite
644 Vanillish
645 Vanilluxe
646 Deerling
647 Sawsbuck
648 Emolga
649 Karrablast
650 Escavalier
651 Foongus
652 Amoonguss
653 Frillish
654 Jellicent
655 Alomomola
656 Joltik
657 Galvantula
658 Ferroseed
659 Ferrothorn
660 Klink
661 Klang
662 Klinklang
663 Tynamo
664 Eelektrik
665 Eelektross
666 Elgyem
667 Beheeyem
668 Litwick
669 Lampent
670 Chandelure
671 Axew
672 Fraxure
673 Haxorus
674 Cubchoo
675 Beartic
676 Cryogonal
677 Shelmet
678 Accelgor
679 Stunfisk
680 Mienfoo
681 Mienshao
682 Druddigon
683 Golett
684 Golurk
685 Pawniard
686 Bisharp
687 Bouffalant
688 Rufflet
689 Braviary
690 Vullaby
691 Mandibuzz
692 Heatmor
693 Durant
694 Deino
695 Zweilous
696 Hydreigon
697 Larvesta
698 Volcarona
699 Cobalion
700 Terrakion
701 Virizion
702 TornadusIncarnate Forme
703 TornadusTherian Forme
704 ThundurusIncarnate Forme
705 ThundurusTherian Forme
706 Reshiram
707 Zekrom
708 LandorusIncarnate Forme
709 LandorusTherian Forme
710 Kyurem
711 KyuremBlack Kyurem
712 KyuremWhite Kyurem
713 KeldeoOrdinary Forme
714 KeldeoResolute Forme
715 MeloettaAria Forme
716 MeloettaPirouette Forme
717 Genesect
718 Chespin
719 Quilladin
720 Chesnaught
721 Fennekin
722 Braixen
723 Delphox
724 Froakie
725 Frogadier
726 Greninja
727 Bunnelby
728 Diggersby
729 Fletchling
730 Fletchinder
731 Talonflame
732 Scatterbug
733 Spewpa
734 Vivillon
735 Litleo
736 Pyroar
737 Flabébé
738 Floette
739 Florges
740 Skiddo
741 Gogoat
742 Pancham
743 Pangoro
744 Furfrou
745 Espurr
746 MeowsticMale
747 MeowsticFemale
748 Honedge
749 Doublade
750 AegislashBlade Forme
751 AegislashShield Forme
752 Spritzee
753 Aromatisse
754 Swirlix
755 Slurpuff
756 Inkay
757 Malamar
758 Binacle
759 Barbaracle
760 Skrelp
761 Dragalge
762 Clauncher
763 Clawitzer
764 Helioptile
765 Heliolisk
766 Tyrunt
767 Tyrantrum
768 Amaura
769 Aurorus
770 Sylveon
771 Hawlucha
772 Dedenne
773 Carbink
774 Goomy
775 Sliggoo
776 Goodra
777 Klefki
778 Phantump
779 Trevenant
780 PumpkabooAverage Size
781 PumpkabooSmall Size
782 PumpkabooLarge Size
783 PumpkabooSuper Size
784 GourgeistAverage Size
785 GourgeistSmall Size
786 GourgeistLarge Size
787 GourgeistSuper Size
788 Bergmite
789 Avalugg
790 Noibat
791 Noivern
792 Xerneas
793 Yveltal
794 Zygarde50% Forme
795 Diancie
796 DiancieMega Diancie
797 HoopaHoopa Confined
798 HoopaHoopa Unbound
799 Volcanion

In [18]:
for index, row in data.iterrows():
  print(index,row['Name'],row['HP'])

0 Bulbasaur 45
1 Ivysaur 60
2 Venusaur 80
3 VenusaurMega Venusaur 80
4 Charmander 39
5 Charmeleon 58
6 Charizard 78
7 CharizardMega Charizard X 78
8 CharizardMega Charizard Y 78
9 Squirtle 44
10 Wartortle 59
11 Blastoise 79
12 BlastoiseMega Blastoise 79
13 Caterpie 45
14 Metapod 50
15 Butterfree 60
16 Weedle 40
17 Kakuna 45
18 Beedrill 65
19 BeedrillMega Beedrill 65
20 Pidgey 40
21 Pidgeotto 63
22 Pidgeot 83
23 PidgeotMega Pidgeot 83
24 Rattata 30
25 Raticate 55
26 Spearow 40
27 Fearow 65
28 Ekans 35
29 Arbok 60
30 Pikachu 35
31 Raichu 60
32 Sandshrew 50
33 Sandslash 75
34 Nidoran (Female) 55
35 Nidorina 70
36 Nidoqueen 90
37 Nidoran (Male) 46
38 Nidorino 61
39 Nidoking 81
40 Clefairy 70
41 Clefable 95
42 Vulpix 38
43 Ninetales 73
44 Jigglypuff 115
45 Wigglytuff 140
46 Zubat 40
47 Golbat 75
48 Oddish 45
49 Gloom 60
50 Vileplume 75
51 Paras 35
52 Parasect 60
53 Venonat 60
54 Venomoth 70
55 Diglett 10
56 Dugtrio 35
57 Meowth 40
58 Persian 65
59 Psyduck 50
60 Golduck 80
61 Mankey 40
62 Primeape 65
63 Growlithe 55
64 Arcanine 90
65 Poliwag 40
66 Poliwhirl 65
67 Poliwrath 90
68 Abra 25
69 Kadabra 40
70 Alakazam 55
71 AlakazamMega Alakazam 55
72 Machop 70
73 Machoke 80
74 Machamp 90
75 Bellsprout 50
76 Weepinbell 65
77 Victreebel 80
78 Tentacool 40
79 Tentacruel 80
80 Geodude 40
81 Graveler 55
82 Golem 80
83 Ponyta 50
84 Rapidash 65
85 Slowpoke 90
86 Slowbro 95
87 SlowbroMega Slowbro 95
88 Magnemite 25
89 Magneton 50
90 Farfetch'd 52
91 Doduo 35
92 Dodrio 60
93 Seel 65
94 Dewgong 90
95 Grimer 80
96 Muk 105
97 Shellder 30
98 Cloyster 50
99 Gastly 30
100 Haunter 45
101 Gengar 60
102 GengarMega Gengar 60
103 Onix 35
104 Drowzee 60
105 Hypno 85
106 Krabby 30
107 Kingler 55
108 Voltorb 40
109 Electrode 60
110 Exeggcute 60
111 Exeggutor 95
112 Cubone 50
113 Marowak 60
114 Hitmonlee 50
115 Hitmonchan 50
116 Lickitung 90
117 Koffing 40
118 Weezing 65
119 Rhyhorn 80
120 Rhydon 105
121 Chansey 250
122 Tangela 65
123 Kangaskhan 105
124 KangaskhanMega Kangaskhan 105
125 Horsea 30
126 Seadra 55
127 Goldeen 45
128 Seaking 80
129 Staryu 30
130 Starmie 60
131 Mr. Mime 40
132 Scyther 70
133 Jynx 65
134 Electabuzz 65
135 Magmar 65
136 Pinsir 65
137 PinsirMega Pinsir 65
138 Tauros 75
139 Magikarp 20
140 Gyarados 95
141 GyaradosMega Gyarados 95
142 Lapras 130
143 Ditto 48
144 Eevee 55
145 Vaporeon 130
146 Jolteon 65
147 Flareon 65
148 Porygon 65
149 Omanyte 35
150 Omastar 70
151 Kabuto 30
152 Kabutops 60
153 Aerodactyl 80
154 AerodactylMega Aerodactyl 80
155 Snorlax 160
156 Articuno 90
157 Zapdos 90
158 Moltres 90
159 Dratini 41
160 Dragonair 61
161 Dragonite 91
162 Mewtwo 106
163 MewtwoMega Mewtwo X 106
164 MewtwoMega Mewtwo Y 106
165 Mew 100
166 Chikorita 45
167 Bayleef 60
168 Meganium 80
169 Cyndaquil 39
170 Quilava 58
171 Typhlosion 78
172 Totodile 50
173 Croconaw 65
174 Feraligatr 85
175 Sentret 35
176 Furret 85
177 Hoothoot 60
178 Noctowl 100
179 Ledyba 40
180 Ledian 55
181 Spinarak 40
182 Ariados 70
183 Crobat 85
184 Chinchou 75
185 Lanturn 125
186 Pichu 20
187 Cleffa 50
188 Igglybuff 90
189 Togepi 35
190 Togetic 55
191 Natu 40
192 Xatu 65
193 Mareep 55
194 Flaaffy 70
195 Ampharos 90
196 AmpharosMega Ampharos 90
197 Bellossom 75
198 Marill 70
199 Azumarill 100
200 Sudowoodo 70
201 Politoed 90
202 Hoppip 35
203 Skiploom 55
204 Jumpluff 75
205 Aipom 55
206 Sunkern 30
207 Sunflora 75
208 Yanma 65
209 Wooper 55
210 Quagsire 95
211 Espeon 65
212 Umbreon 95
213 Murkrow 60
214 Slowking 95
215 Misdreavus 60
216 Unown 48
217 Wobbuffet 190
218 Girafarig 70
219 Pineco 50
220 Forretress 75
221 Dunsparce 100
222 Gligar 65
223 Steelix 75
224 SteelixMega Steelix 75
225 Snubbull 60
226 Granbull 90
227 Qwilfish 65
228 Scizor 70
229 ScizorMega Scizor 70
230 Shuckle 20
231 Heracross 80
232 HeracrossMega Heracross 80
233 Sneasel 55
234 Teddiursa 60
235 Ursaring 90
236 Slugma 40
237 Magcargo 50
238 Swinub 50
239 Piloswine 100
240 Corsola 55
241 Remoraid 35
242 Octillery 75
243 Delibird 45
244 Mantine 65
245 Skarmory 65
246 Houndour 45
247 Houndoom 75
248 HoundoomMega Houndoom 75
249 Kingdra 75
250 Phanpy 90
251 Donphan 90
252 Porygon2 85
253 Stantler 73
254 Smeargle 55
255 Tyrogue 35
256 Hitmontop 50
257 Smoochum 45
258 Elekid 45
259 Magby 45
260 Miltank 95
261 Blissey 255
262 Raikou 90
263 Entei 115
264 Suicune 100
265 Larvitar 50
266 Pupitar 70
267 Tyranitar 100
268 TyranitarMega Tyranitar 100
269 Lugia 106
270 Ho-oh 106
271 Celebi 100
272 Treecko 40
273 Grovyle 50
274 Sceptile 70
275 SceptileMega Sceptile 70
276 Torchic 45
277 Combusken 60
278 Blaziken 80
279 BlazikenMega Blaziken 80
280 Mudkip 50
281 Marshtomp 70
282 Swampert 100
283 SwampertMega Swampert 100
284 Poochyena 35
285 Mightyena 70
286 Zigzagoon 38
287 Linoone 78
288 Wurmple 45
289 Silcoon 50
290 Beautifly 60
291 Cascoon 50
292 Dustox 60
293 Lotad 40
294 Lombre 60
295 Ludicolo 80
296 Seedot 40
297 Nuzleaf 70
298 Shiftry 90
299 Taillow 40
300 Swellow 60
301 Wingull 40
302 Pelipper 60
303 Ralts 28
304 Kirlia 38
305 Gardevoir 68
306 GardevoirMega Gardevoir 68
307 Surskit 40
308 Masquerain 70
309 Shroomish 60
310 Breloom 60
311 Slakoth 60
312 Vigoroth 80
313 Slaking 150
314 Nincada 31
315 Ninjask 61
316 Shedinja 1
317 Whismur 64
318 Loudred 84
319 Exploud 104
320 Makuhita 72
321 Hariyama 144
322 Azurill 50
323 Nosepass 30
324 Skitty 50
325 Delcatty 70
326 Sableye 50
327 SableyeMega Sableye 50
328 Mawile 50
329 MawileMega Mawile 50
330 Aron 50
331 Lairon 60
332 Aggron 70
333 AggronMega Aggron 70
334 Meditite 30
335 Medicham 60
336 MedichamMega Medicham 60
337 Electrike 40
338 Manectric 70
339 ManectricMega Manectric 70
340 Plusle 60
341 Minun 60
342 Volbeat 65
343 Illumise 65
344 Roselia 50
345 Gulpin 70
346 Swalot 100
347 Carvanha 45
348 Sharpedo 70
349 SharpedoMega Sharpedo 70
350 Wailmer 130
351 Wailord 170
352 Numel 60
353 Camerupt 70
354 CameruptMega Camerupt 70
355 Torkoal 70
356 Spoink 60
357 Grumpig 80
358 Spinda 60
359 Trapinch 45
360 Vibrava 50
361 Flygon 80
362 Cacnea 50
363 Cacturne 70
364 Swablu 45
365 Altaria 75
366 AltariaMega Altaria 75
367 Zangoose 73
368 Seviper 73
369 Lunatone 70
370 Solrock 70
371 Barboach 50
372 Whiscash 110
373 Corphish 43
374 Crawdaunt 63
375 Baltoy 40
376 Claydol 60
377 Lileep 66
378 Cradily 86
379 Anorith 45
380 Armaldo 75
381 Feebas 20
382 Milotic 95
383 Castform 70
384 Kecleon 60
385 Shuppet 44
386 Banette 64
387 BanetteMega Banette 64
388 Duskull 20
389 Dusclops 40
390 Tropius 99
391 Chimecho 65
392 Absol 65
393 AbsolMega Absol 65
394 Wynaut 95
395 Snorunt 50
396 Glalie 80
397 GlalieMega Glalie 80
398 Spheal 70
399 Sealeo 90
400 Walrein 110
401 Clamperl 35
402 Huntail 55
403 Gorebyss 55
404 Relicanth 100
405 Luvdisc 43
406 Bagon 45
407 Shelgon 65
408 Salamence 95
409 SalamenceMega Salamence 95
410 Beldum 40
411 Metang 60
412 Metagross 80
413 MetagrossMega Metagross 80
414 Regirock 80
415 Regice 80
416 Registeel 80
417 Latias 80
418 LatiasMega Latias 80
419 Latios 80
420 LatiosMega Latios 80
421 Kyogre 100
422 KyogrePrimal Kyogre 100
423 Groudon 100
424 GroudonPrimal Groudon 100
425 Rayquaza 105
426 RayquazaMega Rayquaza 105
427 Jirachi 100
428 DeoxysNormal Forme 50
429 DeoxysAttack Forme 50
430 DeoxysDefense Forme 50
431 DeoxysSpeed Forme 50
432 Turtwig 55
433 Grotle 75
434 Torterra 95
435 Chimchar 44
436 Monferno 64
437 Infernape 76
438 Piplup 53
439 Prinplup 64
440 Empoleon 84
441 Starly 40
442 Staravia 55
443 Staraptor 85
444 Bidoof 59
445 Bibarel 79
446 Kricketot 37
447 Kricketune 77
448 Shinx 45
449 Luxio 60
450 Luxray 80
451 Budew 40
452 Roserade 60
453 Cranidos 67
454 Rampardos 97
455 Shieldon 30
456 Bastiodon 60
457 Burmy 40
458 WormadamPlant Cloak 60
459 WormadamSandy Cloak 60
460 WormadamTrash Cloak 60
461 Mothim 70
462 Combee 30
463 Vespiquen 70
464 Pachirisu 60
465 Buizel 55
466 Floatzel 85
467 Cherubi 45
468 Cherrim 70
469 Shellos 76
470 Gastrodon 111
471 Ambipom 75
472 Drifloon 90
473 Drifblim 150
474 Buneary 55
475 Lopunny 65
476 LopunnyMega Lopunny 65
477 Mismagius 60
478 Honchkrow 100
479 Glameow 49
480 Purugly 71
481 Chingling 45
482 Stunky 63
483 Skuntank 103
484 Bronzor 57
485 Bronzong 67
486 Bonsly 50
487 Mime Jr. 20
488 Happiny 100
489 Chatot 76
490 Spiritomb 50
491 Gible 58
492 Gabite 68
493 Garchomp 108
494 GarchompMega Garchomp 108
495 Munchlax 135
496 Riolu 40
497 Lucario 70
498 LucarioMega Lucario 70
499 Hippopotas 68
500 Hippowdon 108
501 Skorupi 40
502 Drapion 70
503 Croagunk 48
504 Toxicroak 83
505 Carnivine 74
506 Finneon 49
507 Lumineon 69
508 Mantyke 45
509 Snover 60
510 Abomasnow 90
511 AbomasnowMega Abomasnow 90
512 Weavile 70
513 Magnezone 70
514 Lickilicky 110
515 Rhyperior 115
516 Tangrowth 100
517 Electivire 75
518 Magmortar 75
519 Togekiss 85
520 Yanmega 86
521 Leafeon 65
522 Glaceon 65
523 Gliscor 75
524 Mamoswine 110
525 Porygon-Z 85
526 Gallade 68
527 GalladeMega Gallade 68
528 Probopass 60
529 Dusknoir 45
530 Froslass 70
531 Rotom 50
532 RotomHeat Rotom 50
533 RotomWash Rotom 50
534 RotomFrost Rotom 50
535 RotomFan Rotom 50
536 RotomMow Rotom 50
537 Uxie 75
538 Mesprit 80
539 Azelf 75
540 Dialga 100
541 Palkia 90
542 Heatran 91
543 Regigigas 110
544 GiratinaAltered Forme 150
545 GiratinaOrigin Forme 150
546 Cresselia 120
547 Phione 80
548 Manaphy 100
549 Darkrai 70
550 ShayminLand Forme 100
551 ShayminSky Forme 100
552 Arceus 120
553 Victini 100
554 Snivy 45
555 Servine 60
556 Serperior 75
557 Tepig 65
558 Pignite 90
559 Emboar 110
560 Oshawott 55
561 Dewott 75
562 Samurott 95
563 Patrat 45
564 Watchog 60
565 Lillipup 45
566 Herdier 65
567 Stoutland 85
568 Purrloin 41
569 Liepard 64
570 Pansage 50
571 Simisage 75
572 Pansear 50
573 Simisear 75
574 Panpour 50
575 Simipour 75
576 Munna 76
577 Musharna 116
578 Pidove 50
579 Tranquill 62
580 Unfezant 80
581 Blitzle 45
582 Zebstrika 75
583 Roggenrola 55
584 Boldore 70
585 Gigalith 85
586 Woobat 55
587 Swoobat 67
588 Drilbur 60
589 Excadrill 110
590 Audino 103
591 AudinoMega Audino 103
592 Timburr 75
593 Gurdurr 85
594 Conkeldurr 105
595 Tympole 50
596 Palpitoad 75
597 Seismitoad 105
598 Throh 120
599 Sawk 75
600 Sewaddle 45
601 Swadloon 55
602 Leavanny 75
603 Venipede 30
604 Whirlipede 40
605 Scolipede 60
606 Cottonee 40
607 Whimsicott 60
608 Petilil 45
609 Lilligant 70
610 Basculin 70
611 Sandile 50
612 Krokorok 60
613 Krookodile 95
614 Darumaka 70
615 DarmanitanStandard Mode 105
616 DarmanitanZen Mode 105
617 Maractus 75
618 Dwebble 50
619 Crustle 70
620 Scraggy 50
621 Scrafty 65
622 Sigilyph 72
623 Yamask 38
624 Cofagrigus 58
625 Tirtouga 54
626 Carracosta 74
627 Archen 55
628 Archeops 75
629 Trubbish 50
630 Garbodor 80
631 Zorua 40
632 Zoroark 60
633 Minccino 55
634 Cinccino 75
635 Gothita 45
636 Gothorita 60
637 Gothitelle 70
638 Solosis 45
639 Duosion 65
640 Reuniclus 110
641 Ducklett 62
642 Swanna 75
643 Vanillite 36
644 Vanillish 51
645 Vanilluxe 71
646 Deerling 60
647 Sawsbuck 80
648 Emolga 55
649 Karrablast 50
650 Escavalier 70
651 Foongus 69
652 Amoonguss 114
653 Frillish 55
654 Jellicent 100
655 Alomomola 165
656 Joltik 50
657 Galvantula 70
658 Ferroseed 44
659 Ferrothorn 74
660 Klink 40
661 Klang 60
662 Klinklang 60
663 Tynamo 35
664 Eelektrik 65
665 Eelektross 85
666 Elgyem 55
667 Beheeyem 75
668 Litwick 50
669 Lampent 60
670 Chandelure 60
671 Axew 46
672 Fraxure 66
673 Haxorus 76
674 Cubchoo 55
675 Beartic 95
676 Cryogonal 70
677 Shelmet 50
678 Accelgor 80
679 Stunfisk 109
680 Mienfoo 45
681 Mienshao 65
682 Druddigon 77
683 Golett 59
684 Golurk 89
685 Pawniard 45
686 Bisharp 65
687 Bouffalant 95
688 Rufflet 70
689 Braviary 100
690 Vullaby 70
691 Mandibuzz 110
692 Heatmor 85
693 Durant 58
694 Deino 52
695 Zweilous 72
696 Hydreigon 92
697 Larvesta 55
698 Volcarona 85
699 Cobalion 91
700 Terrakion 91
701 Virizion 91
702 TornadusIncarnate Forme 79
703 TornadusTherian Forme 79
704 ThundurusIncarnate Forme 79
705 ThundurusTherian Forme 79
706 Reshiram 100
707 Zekrom 100
708 LandorusIncarnate Forme 89
709 LandorusTherian Forme 89
710 Kyurem 125
711 KyuremBlack Kyurem 125
712 KyuremWhite Kyurem 125
713 KeldeoOrdinary Forme 91
714 KeldeoResolute Forme 91
715 MeloettaAria Forme 100
716 MeloettaPirouette Forme 100
717 Genesect 71
718 Chespin 56
719 Quilladin 61
720 Chesnaught 88
721 Fennekin 40
722 Braixen 59
723 Delphox 75
724 Froakie 41
725 Frogadier 54
726 Greninja 72
727 Bunnelby 38
728 Diggersby 85
729 Fletchling 45
730 Fletchinder 62
731 Talonflame 78
732 Scatterbug 38
733 Spewpa 45
734 Vivillon 80
735 Litleo 62
736 Pyroar 86
737 Flabébé 44
738 Floette 54
739 Florges 78
740 Skiddo 66
741 Gogoat 123
742 Pancham 67
743 Pangoro 95
744 Furfrou 75
745 Espurr 62
746 MeowsticMale 74
747 MeowsticFemale 74
748 Honedge 45
749 Doublade 59
750 AegislashBlade Forme 60
751 AegislashShield Forme 60
752 Spritzee 78
753 Aromatisse 101
754 Swirlix 62
755 Slurpuff 82
756 Inkay 53
757 Malamar 86
758 Binacle 42
759 Barbaracle 72
760 Skrelp 50
761 Dragalge 65
762 Clauncher 50
763 Clawitzer 71
764 Helioptile 44
765 Heliolisk 62
766 Tyrunt 58
767 Tyrantrum 82
768 Amaura 77
769 Aurorus 123
770 Sylveon 95
771 Hawlucha 78
772 Dedenne 67
773 Carbink 50
774 Goomy 45
775 Sliggoo 68
776 Goodra 90
777 Klefki 57
778 Phantump 43
779 Trevenant 85
780 PumpkabooAverage Size 49
781 PumpkabooSmall Size 44
782 PumpkabooLarge Size 54
783 PumpkabooSuper Size 59
784 GourgeistAverage Size 65
785 GourgeistSmall Size 55
786 GourgeistLarge Size 75
787 GourgeistSuper Size 85
788 Bergmite 55
789 Avalugg 95
790 Noibat 40
791 Noivern 85
792 Xerneas 126
793 Yveltal 126
794 Zygarde50% Forme 108
795 Diancie 50
796 DiancieMega Diancie 50
797 HoopaHoopa Confined 80
798 HoopaHoopa Unbound 80
799 Volcanion 80

#Reading a specific Location

In [23]:
data.iloc[4,1]

'Charmander'

Can Also select based on any specific term

In [24]:
data.loc[data['Type 1']=='Water']

       #                     Name Type 1  ... Speed  Generation  Legendary
9      7                 Squirtle  Water  ...    43           1      False
10     8                Wartortle  Water  ...    58           1      False
11     9                Blastoise  Water  ...    78           1      False
12     9  BlastoiseMega Blastoise  Water  ...    78           1      False
59    54                  Psyduck  Water  ...    55           1      False
..   ...                      ...    ...  ...   ...         ...        ...
724  656                  Froakie  Water  ...    71           6      False
725  657                Frogadier  Water  ...    97           6      False
726  658                 Greninja  Water  ...   122           6      False
762  692                Clauncher  Water  ...    44           6      False
763  693                Clawitzer  Water  ...    59           6      False

[112 rows x 12 columns]

#Sorting/Describing the data

In [25]:
data.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [26]:
data.sort_values('Name')

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

In [27]:
data.sort_values(['Name','HP'], ascending=False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [30]:
data.sort_values(['Name','HP'], ascending=[1,0])

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

#Making changes to the data
Adding a column to the csv file

In [0]:
data['Total'] = data['HP']+data['Attack']+data['Defense']

In [32]:
data.head(3)

   #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1  Bulbasaur  Grass  Poison  ...     45           1      False    143
1  2    Ivysaur  Grass  Poison  ...     60           1      False    185
2  3   Venusaur  Grass  Poison  ...     80           1      False    245

[3 rows x 13 columns]

Drop a coulmn

In [41]:
data = data.drop(columns=['Total'])
data.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

Adding all rows of some specific columns with horizontal axis

In [0]:
data['Total'] = data.iloc[:,4:10].sum(axis=1)

changing columns in the csv file

In [44]:
cols = list(data.columns)
print(cols)
data = data[cols[0:4]+[cols[-1]]+cols[4:12]]
data.head(3)

['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

   #       Name Type 1  Type 2  ...  Sp. Atk  Sp. Def  Speed  Generation
0  1  Bulbasaur  Grass  Poison  ...       65       65     45           1
1  2    Ivysaur  Grass  Poison  ...       80       80     60           1
2  3   Venusaur  Grass  Poison  ...      100      100     80           1

[3 rows x 13 columns]

#Save the changes to new csv file

In [0]:
data.to_csv('/content/drive/My Drive/pandas/new_pokemon.csv',index= False)

Save to text file

In [0]:
data.to_csv('/content/drive/My Drive/pandas/new_pokemon.txt',index=False,sep='\t')

#Filtering Data

Conditions to access specific columns

In [0]:
new_data = data.loc[(data['Type 1']=='Water') & (data['Type 2']=='Poison')]

In [0]:
new_data.reset_index(drop=True,inplace=True)

In [51]:
new_data

    #        Name Type 1  Type 2  ...  Sp. Atk  Sp. Def  Speed  Generation
0  73  Tentacruel  Water  Poison  ...       80      120    100           1

[1 rows x 13 columns]

TO access some elements with matching string

In [52]:
data.loc[data['Name'].str.contains('Mega')]

       #                       Name    Type 1  ... Sp. Def  Speed  Generation
3      3      VenusaurMega Venusaur     Grass  ...     120     80           1
7      6  CharizardMega Charizard X      Fire  ...      85    100           1
8      6  CharizardMega Charizard Y      Fire  ...     115    100           1
12     9    BlastoiseMega Blastoise     Water  ...     115     78           1
19    15      BeedrillMega Beedrill       Bug  ...      80    145           1
23    18        PidgeotMega Pidgeot    Normal  ...      80    121           1
71    65      AlakazamMega Alakazam   Psychic  ...      95    150           1
87    80        SlowbroMega Slowbro     Water  ...      80     30           1
124  115  KangaskhanMega Kangaskhan    Normal  ...     100    100           1
229  212          ScizorMega Scizor       Bug  ...     100     75           2
283  260      SwampertMega Swampert     Water  ...     110     70           3
336  308      MedichamMega Medicham  Fighting  ...      85    100           3
339  310    ManectricMega Manectric  Electric  ...      80    135           3
349  319      SharpedoMega Sharpedo     Water  ...      65    105           3
354  323      CameruptMega Camerupt      Fire  ...     105     20           3
366  334        AltariaMega Altaria    Dragon  ...     105     80           3
387  354        BanetteMega Banette     Ghost  ...      83     75           3
397  362          GlalieMega Glalie       Ice  ...      80    100           3
409  373    SalamenceMega Salamence    Dragon  ...      90    120           3
413  376    MetagrossMega Metagross     Steel  ...     110    110           3
418  380          LatiasMega Latias    Dragon  ...     150    110           3
420  381          LatiosMega Latios    Dragon  ...     120    110           3
426  384      RayquazaMega Rayquaza    Dragon  ...     100    115           3
476  428        LopunnyMega Lopunny    Normal  ...      96    135           4
494  445      GarchompMega Garchomp    Dragon  ...      95     92           4
498  448        LucarioMega Lucario  Fighting  ...      70    112           4
511  460    AbomasnowMega Abomasnow     Grass  ...     105     30           4
527  475        GalladeMega Gallade   Psychic  ...     115    110           4
591  531          AudinoMega Audino    Normal  ...     126     50           5
796  719        DiancieMega Diancie      Rock  ...     110    110           6

[30 rows x 13 columns]

To exclude matching strings from the csv file

In [53]:
data.loc[~data['Name'].str.contains('Mega')]

       #                 Name   Type 1  ... Sp. Def  Speed  Generation
0      1            Bulbasaur    Grass  ...      65     45           1
1      2              Ivysaur    Grass  ...      80     60           1
2      3             Venusaur    Grass  ...     100     80           1
4      4           Charmander     Fire  ...      50     65           1
5      5           Charmeleon     Fire  ...      65     80           1
..   ...                  ...      ...  ...     ...    ...         ...
794  718     Zygarde50% Forme   Dragon  ...      95     95           6
795  719              Diancie     Rock  ...     150     50           6
797  720  HoopaHoopa Confined  Psychic  ...     130     70           6
798  720   HoopaHoopa Unbound  Psychic  ...     130     80           6
799  721            Volcanion     Fire  ...      90     70           6

[559 rows x 13 columns]

In [54]:
!pip install re

ERROR: Could not find a version that satisfies the requirement re (from versions: none)
ERROR: No matching distribution found for re

In [0]:
import regex

In [0]:
import re

In [57]:
data.loc[data['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

       #                 Name    Type 1  ... Sp. Def  Speed  Generation
20    16               Pidgey    Normal  ...      35     56           1
21    17            Pidgeotto    Normal  ...      50     71           1
22    18              Pidgeot    Normal  ...      70    101           1
23    18  PidgeotMega Pidgeot    Normal  ...      80    121           1
30    25              Pikachu  Electric  ...      50     90           1
219  204               Pineco       Bug  ...      35     15           2
239  221            Piloswine       Ice  ...      60     50           2
438  393               Piplup     Water  ...      56     40           4
558  499              Pignite      Fire  ...      55     55           5
578  519               Pidove    Normal  ...      30     43           5

[10 rows x 13 columns]

#Conditional Changes
Changing specific elements of a type in a column to any value

In [0]:
data.loc[data['Type 1']=='Grass','Type 1'] = 'Grass_Poke'

In [59]:
data.loc

In [60]:
data

       #                   Name      Type 1  ... Sp. Def  Speed  Generation
0      1              Bulbasaur  Grass_Poke  ...      65     45           1
1      2                Ivysaur  Grass_Poke  ...      80     60           1
2      3               Venusaur  Grass_Poke  ...     100     80           1
3      3  VenusaurMega Venusaur  Grass_Poke  ...     120     80           1
4      4             Charmander        Fire  ...      50     65           1
..   ...                    ...         ...  ...     ...    ...         ...
795  719                Diancie        Rock  ...     150     50           6
796  719    DiancieMega Diancie        Rock  ...     110    110           6
797  720    HoopaHoopa Confined     Psychic  ...     130     70           6
798  720     HoopaHoopa Unbound     Psychic  ...     130     80           6
799  721              Volcanion        Fire  ...      90     70           6

[589 rows x 13 columns]

We can give multiple conditions to change some specific elements in columns

In [0]:
data.loc[data['HP'] > 75 , ['Legendary','Generation']] = ['Powerful','Max']

In [62]:
data

       #                   Name      Type 1  ... Sp. Def Speed  Generation
0      1              Bulbasaur  Grass_Poke  ...      65    45           1
1      2                Ivysaur  Grass_Poke  ...      80    60           1
2      3               Venusaur  Grass_Poke  ...     100    80         Max
3      3  VenusaurMega Venusaur  Grass_Poke  ...     120    80         Max
4      4             Charmander        Fire  ...      50    65           1
..   ...                    ...         ...  ...     ...   ...         ...
795  719                Diancie        Rock  ...     150    50           6
796  719    DiancieMega Diancie        Rock  ...     110   110           6
797  720    HoopaHoopa Confined     Psychic  ...     130    70         Max
798  720     HoopaHoopa Unbound     Psychic  ...     130    80         Max
799  721              Volcanion        Fire  ...      90    70         Max

[589 rows x 13 columns]